<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<bean name="dept" class="org.lyk.vo.Dept" >
		<property name="deptno" value="10" />
		<property name="dname" value="SSIT" />
		<property name="loc" value="CHONGQING" />
	</bean>
	<bean name="emp" class="org.lyk.vo.Emp">
		<property name="empno" value="2159"/>
		<property name="ename" value="SHELDON"/>
		<property name="sal" value="9999.99"/> 
		<property name="address">
			<map key-type="java.lang.String" value-type="java.lang.String">
				<entry key="023" value="重庆"/>
				<entry key="028" value="成都"/>
				<entry key="021" value="上海"/>
				<entry key="027" value="广州"/>
			</map>
		</property>
	</bean>
</beans>