<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>SpringBoot模板渲染</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	</head>
	<body>
		<h1>HELLO SHIT</h1>
		<form action="add" method="post">
			编号:<input type="text" name="mid" id="mid" value="1923" /><br/>
			年龄:<input type="text" name="age" id="age" value="16" /><br/>
			薪水:<input type="text" name="salary" id="salary" value="14000" /><br/>
			生日:<input type="text" name="birthday" id="birthday" value="1987-10-18" /><br/>
			<input type="submit" value="提交"/>
		</form>
	</body>
</html>