<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="org.lyk.vo.Member" alias="Member"/>
		<typeAlias type="org.lyk.vo.MemberLogin" alias="MemberLogin"/>
		<typeAlias type="org.lyk.vo.MemberDetails" alias="MemberDetails"/>
		<typeAlias type="org.lyk.vo.Student" alias="Student"/>
		<typeAlias type="org.lyk.vo.Worker" alias="Worker"/>
		<typeAlias type="org.lyk.vo.News" alias="News"/>
	</typeAliases>
	<environments default="development">		<!-- 配置数据源的相关信息 -->
		<environment id="development">
			<transactionManager type="jdbc" />	<!-- 使用JDBC方式管理 -->
			<dataSource type="POOLED">			<!-- 设置数据源类型，此时为POOLED -->
				<property name="driver" value="org.gjt.mm.mysql.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/hedb" />
				<property name="username" value="root" />
				<property name="password" value="admin" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="org/lyk/vo/mapping/Member.xml"/>
		<mapper resource="org/lyk/vo/mapping/MemberLogin.xml"/>
		<mapper resource="org/lyk/vo/mapping/MemberDetails.xml"/>
		<mapper resource="org/lyk/vo/mapping/News.xml"/>
	</mappers>
</configuration>