<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- 设置按天滚动方式生成日志文件 -->
	<!-- 将日志写到文件中 -->
	<appender name="logFileFormat" class="org.apache.log4j.rolling.RollingFileAppender">
		<!-- 设置日志编码 -->
		<param name="Encoding" value="UTF-8" />
		<!-- 设置按天滚动方式生成日志文件 -->
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="/opt/SSM0915/log/ssm0915_%d{yyyyMMdd}.log" />
		</rollingPolicy>
		<!-- 设置日志内容格式 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p (%F.%L): %m%n" />
		</layout>
	</appender>

	<!-- 设置按天滚动方式生成日志文件 -->
	<!-- 将日志写到Linux系统日志中 -->
	<appender name="syslogFormat" class="org.apache.log4j.net.SyslogAppender">
		<!-- 设置阈值为ERROR级别，低于ERROR级别的日志将不会写入到系统中 -->
		<param name="Threshold" value="ERROR" />
		<param name="SyslogHost" value="localhost" />
		<param name="Facility" value="USER" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p (%F.%L): %m%n" />
		</layout>
	</appender>

	<!-- 设置logger日志名称，在程序中引用 -->
	<logger name="logfile">
		<!-- 设置日志级别为DEBUG级别 -->
		<level value="debug" />
		<appender-ref ref="logFileFormat" />
		<appender-ref ref="syslogFormat" />
	</logger>
</log4j:configuration>