<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="org.lyk.vo.Dept" alias="Dept"/>
	<typeAlias type="org.lyk.vo.Member" alias="Member"/>
	<typeAlias type="org.lyk.vo.Student" alias="Student"/>
	<typeAlias type="org.lyk.vo.Worker" alias="Worker"/>
</typeAliases>
	<environments default="databaseConnection">		<!-- 配置数据源的相关信息 -->
		<environment id="databaseConnection">
			<transactionManager type="jdbc" />	<!-- 使用JDBC方式管理 -->
			<dataSource type="POOLED">			<!-- 设置数据源类型，此时为POOLED -->
				<property name="driver" value="org.gjt.mm.mysql.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/hrdb" />
				<property name="username" value="root" />
				<property name="password" value="admin" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="org/lyk/vo/mapping/Dept.xml"/>
		<mapper resource="org/lyk/vo/mapping/Member.xml"/>
	</mappers>
</configuration>