<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="schedule-console" version="3.0">
  <display-name>face</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet01</servlet-name>
    <servlet-class>com.face.servlet.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet01</servlet-name>
    <url-pattern>/servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet02</servlet-name>
    <servlet-class>com.face.servlet.Servlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet02</servlet-name>
    <url-pattern>/servlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet03</servlet-name>
    <servlet-class>com.face.servlet.Servlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet03</servlet-name>
    <url-pattern>/servlet03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet04</servlet-name>
    <servlet-class>com.face.servlet.Servlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet04</servlet-name>
    <url-pattern>/servlet04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet05</servlet-name>
    <servlet-class>com.face.servlet.Servlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet05</servlet-name>
    <url-pattern>/servlet05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet06</servlet-name>
    <servlet-class>com.face.servlet.Servlet06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet06</servlet-name>
    <url-pattern>/servlet06</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet07</servlet-name>
    <servlet-class>com.face.servlet.Servlet07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet07</servlet-name>
    <url-pattern>/servlet07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet08</servlet-name>
    <servlet-class>com.face.servlet.Servlet08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet08</servlet-name>
    <url-pattern>/servlet08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet09</servlet-name>
    <servlet-class>com.face.servlet.Servlet09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet09</servlet-name>
    <url-pattern>/servlet09</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet10</servlet-name>
    <servlet-class>com.face.servlet.Servlet10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet10</servlet-name>
    <url-pattern>/servlet10</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>insert</servlet-name>
    <servlet-class>com.face.servlet.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  
</web-app>