
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<title>在綫成人影院 | 草榴社區 - t66y.com</title>
<meta name="keywords"
	content="草榴,1024,草榴社區,1024app,草榴app,小草app,草榴客戶端,小草客戶端,亞洲無碼,亞洲有碼,歐美無碼,動漫無碼,轉貼交流,技術討論區,達蓋爾的旗幟,新時代的我們,成人文學,在線成人影院,http下載,草榴貼圖,草榴資訊,t66y.com" />
<meta name="description" content="在綫成人影院 草榴社區 1024 t66y.com" />

<link rel="stylesheet" href="//www.viidii.info/web/style.css?v=2.0125" type="text/css" />
</head>
<body>

	<div id="header">
		<div class="banner" style="padding-left: 5px;">
			<a href="../../../"><FONT SIZE="7" COLOR="white"><B>草榴社區</B></FONT></a>
		</div>
		<div class="h guide" colspan="2">
			&raquo;

			<!--mb-->
			您尚未 <a href="login.php">登錄</a> &nbsp;<a href="register.php"><b>註冊</b></a>
			<!--mbend-->

			| <a href="search.php">搜索</a> | <a style="cursor: pointer;" id="td_hack"
				onClick="click_open('menu_hack','td_hack');" onMouseOver="mouseover_open('menu_hack','td_hack');">社區服務</a>

			| <a href="hack.php?H_name=bank">银行</a> | <a href="hack.php?H_name=invite">邀请注册</a> | <a href="faq.php">幫助</a>

		</div>
		<div id="showmenu" style="z-index: 100; display: none;"></div>
		<div id="menu_hack" class="menu" style="display: none;">
			<table width="120" cellspacing="1" cellpadding="5">
				<tr>
					<th class="h">社區服務</th>
				</tr>

			</table>
		</div>

		<div id="blank" style="height: 10px; clear: both"></div>
	</div>
	<div id="main">

		<div class="t3" style="margin: 8px auto">
			<table width="100%" cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td>.:. <a href="index.php">草榴社區</a> &raquo; <a href="thread0806.php?fid=22">在綫成人影院</a> (<a
						href="rss.php?fid=22" target="_blank" title="RSS訂閱本版面最新帖子">RSS</a>)
					</td>
				</tr>
			</table>
		</div>

		<!--ads begin-->

		<!--ads end-->

		<div class="t">
			<table cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td class="h"><b>版塊公告</b></td>
				</tr>
				<tr></tr>
				<tr class="tr2">
					<td style="border-bottom: 0"></td>
				</tr>
				<tbody id="cate_thread" style="">
					<tr class="tr1">
						<th class="t_one">在綫成人影院發帖注意事項&nbsp;<span class="smalltxt">(Barton: 2010-04-03 21:04)</span> <br />
						<br />如何發視頻, 以及版區注意事項, 請參考置頂版規!<br>遇到違規內容, 或視頻無法播放等問題, 歡迎PM&lt;<span style="color: blue">avjap</span>&gt;進行反映!
							<div align="right">
								<a href="notice.php?fid=22#44">更多公告..</a>
							</div></th>
					</tr>
			</table>
		</div>

		<table width="100%" align="center" cellspacing="0" cellpadding="0">
			<tr>
				<td align="left" valign="middle"><div class="pages">
						<a href="thread0806.php?fid=22&search=&page=1">＜</a><a href="thread0806.php?fid=22&search=&page=7">上一頁</a><a
							href="thread0806.php?fid=22&search=&page=5">5</a><a href="thread0806.php?fid=22&search=&page=6">6</a><a
							href="thread0806.php?fid=22&search=&page=7">7</a><a><U>8</U></a><a
							href="thread0806.php?fid=22&search=&page=9">9</a><a href="thread0806.php?fid=22&search=&page=10">10</a><a
							href="thread0806.php?fid=22&search=&page=11">11</a><a><input type="text" style="width: 50px;"
							value="8/624" onfocus="this.value='';" onblur="this.value='8/624'"
							onkeydown="javascript: if(event.keyCode==13){ location='thread0806.php?fid=22&search=&page='+this.value;return false;}"></a><a
							href="thread0806.php?fid=22&search=&page=9">下一頁</a><a href="thread0806.php?fid=22&search=&page=624"
							id="last">＞</a>
					</div></td>
				<td style="text-align: right"><a href="post.php?fid=22"> 發布主題</a> <a href="post.php?fid=22&special=1">投票</a>
				</td>
			</tr>
		</table>
		<div class="t" style="margin: 3px auto">
			<table cellspacing="0" cellpadding="0" width="100%" id="ajaxtable">

				<tr>
					<th class="h" colspan="5" style="width: 100%"><a class="fr a2 fn" href="thread0806.php?fid=22">所有主題</a>
						<a class="fr a2 fn" href="thread0806.php?fid=22&search=today">今日主題</a> <a class="fr a2 fn"
						href="thread0806.php?fid=22&search=digest">精華主題</a> <a class="fr a2 fn"
						href="thread0806.php?fid=22&type=1">亞洲無碼</a> <a class="fr a2 fn" href="thread0806.php?fid=22&type=2">亞洲有碼</a>

						<a class="fr a2 fn" href="thread0806.php?fid=22&type=3">歐美無碼</a> <a class="fr a2 fn"
						href="thread0806.php?fid=22&type=4">動漫無碼</a> <a class="fr a2 fn" href="thread0806.php?fid=22&type=5">動漫有碼</a>

						<a class="fr a2 fn" href="thread0806.php?fid=22&type=6">其他電影</a> <a href="thread0806.php?fid=22">在綫成人影院</a><span>
							版主: &nbsp;<a href=profile.php?action=show&username=Barton>Barton</a> <a
							href=profile.php?action=show&username=avjap>avjap</a> <a href=profile.php?action=show&username=valen>valen</a>
							<a href=profile.php?action=show&username=brent>brent</a>

					</span></th>
				</tr>
				<tbody style="table-layout: fixed;">
					<tr></tr>
					<tr class="tr2 tac">
						<td>狀態</td>
						<td style="width: 62%">文章</td>
						<td style="width: 10%">作者</td>
						<td style="width: 6%">回復</td>
						<td style="width: 17%">最後發表</td>
					</tr>

					<tr class="tr3 t_one tac">
						<td><a href="htm_data/22/1710/2717932.html" target="_blank"> .:: </a></td>
						<td class="tal" style="padding-left: 8px" id="">[亞洲無碼]

							<h3>
								<a href="htm_data/22/1710/2717932.html" target="_blank" id="">光头翔刚从南方打工回来就迫不及待和久违的媳妇啪啪[38:12]</a>
							</h3>



						</td>
						<td><a href="profile.php?action=show&uid=286058" class="bl">QQ2013</a>
						<div class="f12">2017-10-19</div></td>
						<td>2</td>
						<td><a href="read.php?tid=2717932&page=e&fpage=8#a" class="f10"> 2017-10-19 23:00 </a><br />by:
							cosylife</td>
					</tr>


					<tr>
						<td style="height: 8px"></td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>
	<center class="gray">
		<a href='mobile.php?ismobile=no'>電腦版</a> <a href='mobile.php?ismobile=yes'>手機版</a> <a
			href='read.php?tid=1648542'>客戶端</a><br> 用時 0.05(s) x1, 10-21 21:11 <br>


		<div style='margin-left: -9999px;'>
			<script src='//s103.cnzz.com/stat.php?id=950900&web_id=950900&online=1&show=line' language='JavaScript'
				charset='gb2312'></script>
		</div>


	</center>
	<br />
</body>
</html>
